#about {
    
    height: 100vh;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    
    -webkit-box-align:center;
    
    -ms-flex-align:center;
    
    align-items:center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    
    text-align: center;
    
    position: relative;
    
    overflow: hidden;
        
}

.container__about {
    
    z-index: 4;
    
    display: inline-block;
    
    width: 70%;
     
    text-align: center; 
    
    padding: 5% 5%;
    
    background-color: rgba(0,0,0,0.6);
    border-left: 5px solid rgba(0,0,0,0.7);
    border-right: 5px solid rgba(0,0,0,0.7);
    
    border-radius: 10px;
    
    p {
        
        padding: 20px 5%;
        
        line-height: 1.5em;
        
        font-size: 20px;
        
    }
    
    a {
        
        -webkit-text-decoration-line: underline;
        
        text-decoration-line: underline;
        
        &:hover {
            
            color: rgba(0,0,0,0.3);
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            
        }
        
    }
    
}

.header__about {
    
    font-size: 45px;
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    
    border-bottom: 1px solid rgb(200, 200, 200);
    
    padding: 10px 0;
    
    top: 20px;
    
}

/* 
header animation 
*/

.fade-in-left {
   
        opacity: 0;
    
        -webkit-transform: translateX(-100px);
    
        transform: translateX(-100px);
        -webkit-transition: all 1s 0.5s ease;
        transition: all 1s 0.5s ease;
    
    &.animationToggle {
        
        opacity: 1;
        
        -webkit-transform: translateX(0);
        
        transform: translateX(0);
   
    }
    
}

/* 
text animation
*/

.fade-in {
    
    opacity: 0;
    
    -webkit-transition: all 1s 0.7s ease;
    
    transition: all 1s 0.7s ease;
    
    &.animationToggle {
        
        opacity: 1;
        
    }
    
}

.triangle-one__about {
    
    position: absolute;
    
    z-index: 3;
    
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 160vw;
    border-left-width: 100vw;
    border-top: 100vh solid rgb(244, 244, 244);
    
}

.triangle-two__about {
    
    position: absolute;
    
    z-index: 2;
    
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 170vw;
    border-left-width: 110vw;
    border-top: 100vh solid rgb(232, 232, 232);

}

.triangle-three__about {
    
    position: absolute;
    
    z-index: 1;
    
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 180vw;
    border-left-width: 120vw;
    border-top: 100vh solid rgb(160, 160, 160);

}

/*
Media queries
*/

@media (max-width: 767px) {
   
    .container__about {

        width: 80%;
    
        padding: 3% 3%;
    
        border-left: 3px solid rgba(0,0,0,0.7);
        border-right: 3px solid rgba(0,0,0,0.7);
    
        p {
        
            padding: 5px 5px;
        
            line-height: 1.5em;
        
            font-size: 18px;
        
        }
    
    }
    
    .header__about {
    
        font-size: 30px;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    
        padding: 5px 0;
 
    }
    
}

@media (max-width: 370px) {
    
    .container__about {
        
        p {
            
            font-size: 16px;
            
        }
        
    }

}

@media (max-width: 370px) and (max-height: 560px) {
    
    #about {
        
        height: auto;
        overflow-y: auto;
        
    }
    
    .container__about {
        
        top: 10px;
        
        p {
            
            font-size: 14px;
            
        }
        
    }
    
    .triangle-one__about  {
        
        top: 0;
        border-top: 400px solid rgb(244, 244, 244);
    
    }

    .triangle-two__about {

        top: 0;       
        border-top: 400px solid rgb(232, 232, 232);

    }

    .triangle-three__about {

        top: 0;
        border-top: 400px solid rgb(160, 160, 160);

    }
  
}

@media (max-height: 400px) {
    
        .container__about {
        
            top: 10px;
        
        p {
            
            font-size: 14px;
            
        }
        
    }
    
}