html {
    
    font-family: 'Titillium Web', serif;
    color: white;
    background-color: #0a5199;
    
}
main {
    
    min-height: 100%;
    
}
a {
    
	text-decoration: none;
    color: inherit;
    
}