.mainNavbar {

    width: 100%;
    height: 70px;

    position: fixed;

    z-index: 9;

    background-color: rgba(0, 0, 0, 0.4);
    
    transition: width 0.25s ease;
    
     
}

.mainNavbar__ul {

    max-width: 1500px;
    height: 70px;

    
    
    padding: 0 10px;
    margin: 0 auto;

    color: white;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    z-index: inherit;
}

.mainNavbar__li {

    margin-left: 40px;
    
    font-size: 20px;
    
    transition: all 0.2s ease;
    
    &:hover {
        transform: scale(1.2);
    }
}

.mainNavbar__li--special {
	
	color: #cecece;

	margin-left: 40px;

	font-size: 20px;

	transition: all 0.2s ease;

	&:hover {
		transform: scale(1.2);
	}
}

/* 
Hamburger button 
*/

.hamburger {

    display: none;

    position: fixed;
    top: 23px;
    left: 20px;

    z-index: inherit;

    opacity: 0.9;

    padding: 0;
    
    outline: 0;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {

    background-color: #ffffff;
}

/*
Media queries
*/

@media (max-width: 767px) { 
    
    .hamburger {
        
        display: block;
        
    }
    
    .mainNavbar {

        width: 81px;
        
        
    }
    
    .mainNavbar__ul {
        
        width: 100%;
        
        display: flex;
        flex-direction: column;
    
        display: none;
        
    }
    
    .show_ul {
        
        display: flex;
            
    }
    
    .mainNavbar__li {
        
        margin-left: 0px;
        margin-top: 35px;
    
        font-size: 20px;
        
    }
    
    
    .navbarToggle {
        
        width: 100%;
        min-height: 310px;
        
        transition: width 0.25s ease;

    }
}