.container__footer {
  
    height: 40px;
    
    background-color: rgba(0, 0, 0, 0.7);
    
    position: relative;
    
    display: flex;
    
    align-items: center;
    justify-content: center;
    align-content: center;
    
    text-align: center;

    font-size: 14px;
 
}